<!doctype html>
<html
  lang="en"
  th:replace="~{base :: parent(~{:: #content}, ~{:: title}, ~{:: script})}"
>
  <head>
    <meta charset="UTF-8" />
    <title>Search</title>
    <link rel="stylesheet" data-th-href="@{'/css/necessary.css'}" />
  </head>
  <body>
    <div id="content" class="mainContent">
      <h1 class="text-2xl">Search results</h1>
      <div class="contact_container w-full m-8 p-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <form action="" data-th-action="@{'/user/contact/search'}">
            <div
              class="flex w-full space-x-3 items-center justify-start flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900"
            >
              <div>
                <select
                  name="field"
                  id=""
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                  <option selected>Select Field</option>
                  <option value="name">Name</option>
                  <option value="email">E-mail</option>
                  <option value="phone_no">Pnone Number</option>
                </select>
              </div>
              <label for="table-search-users" class="sr-only">Search</label>
              <div class="relative">
                <div
                  class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                    />
                  </svg>
                </div>
                <input
                  name="keyword"
                  type="text"
                  id="table-search-users"
                  class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Search for users"
                />
              </div>
              <button
                type="submit"
                class="px-3 py-2 bg-gray-800 text-white rounded"
              >
                Search
              </button>
            </div>
          </form>
          <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3">Favourite</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Phone No</th>
                <th scope="col" class="px-6 py-3">
                  Link <i class="fa-solid fa-link"></i>
                </th>
                <th scope="col" class="px-6 py-3">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-th-object="${c}"
                data-th-each="c : ${pageContacts.content}"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
              >
                <td class="px-6 py-4">
                  <div
                    data-th-if="*{favourite}"
                    class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"
                  ></div>
                  <div
                    data-th-unless="*{favourite}"
                    class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"
                  ></div>
                </td>
                <th
                  scope="row"
                  class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white"
                >
                  <img
                    onerror="this.src='https://imgs.search.brave.com/jgSicufCtVFL4cCXiueIqUUn-SEgeQyPY599qyofnxQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzQwLzEyLzQ5/LzM2MF9GXzM0MDEy/NDkzNF9iejNwUVRM/cmRGcEg5MmVra251/YVRIeThKdVhnRzdm/aS5qcGc'"
                    class="w-10 h-10 rounded-full"
                    data-th-src="*{profilePic}"
                    src="/docs/images/people/profile-picture-1.jpg"
                    alt="Jese image"
                  />
                  <div class="ps-3">
                    <div data-th-text="*{name}" class="text-base font-semibold">
                      Neil Sims
                    </div>
                    <div
                      data-th-text="*{email}"
                      class="font-normal text-gray-500"
                    >
                      neil.sims@flowbite.com
                    </div>
                  </div>
                </th>
                <td class="px-6 py-4">
                  <i class="fa-solid fa-phone fa-shake"></i>
                  <span data-th-text="*{phoneNo}"></span>
                </td>
                <td class="px-6 py-4">
                  <div class="flex space-x-4">
                    <a
                      data-th-href="*{getInstagram()}"
                      class="text-blue-600 dark:text-blue-500 hover:underline"
                      ><i class="fa-brands fa-instagram fa-bounce fa-2xl"></i
                    ></a>
                    <a
                      data-th-href="*{getLinkedin()}"
                      class="text-blue-600 dark:text-blue-500 hover:underline ms-2"
                      ><i class="fa-brands fa-linkedin fa-beat-fade fa-2xl"></i
                    ></a>
                  </div>
                </td>
                <td class="px-6 py-4">
                  <div class="flex space-x-4">
                    <a href="" class="p-3 border rounded"
                      ><i class="flex items-center fa-solid fa-eye fa-xl"></i
                    ></a>
                    <a href="" class="flex items-center p-2 border rounded"
                      ><i class="fa-solid fa-user-pen fa-xl"></i
                    ></a>
                    <a href="" class="flex items-center p-3 border rounded"
                      ><i class="fa-solid fa-trash-can fa-xl"></i
                    ></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="p-3"
            style="
              display: flex !important;
              justify-content: center !important;
              align-content: center !important;
            "
          >
            <nav aria-label="Page navigation example">
              <ul class="inline-flex -space-x-px text-base h-10">
                <li data-th-unless="${pageContacts.isFirst()}">
                  <a
                    data-th-href="@{'/user/contact/view?size='+${pageSize}+'&page='+${pageContacts.number-1}}"
                    href="#"
                    class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >Previous</a
                  >
                </li>
                <li
                  data-th-each="index : ${#numbers.sequence(1, pageContacts.totalPages)}"
                >
                  <a
                    data-th-href="@{'/user/contact/view?size='+${pageSize}+'&page='+${index-1}}"
                    href="#"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >
                    <span data-th-text="${index}">1</span>
                  </a>
                </li>
                <li data-th-unless="${pageContacts.isLast()}">
                  <a
                    data-th-href="@{'/user/contact/view?size='+${pageSize}+'&page='+${pageContacts.number+1}}"
                    href="#"
                    class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                    >Next</a
                  >
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
